@import url('https://fonts.googleapis.com/css?family=Glegoo');

@import url('https://fonts.googleapis.com/css?family=Limelight');


.App {
  text-align: center;
}

body {
  margin: 40px;
}


* {
  font-family: 'Glegoo', serif;
}

header a{
  font-family: 'Limelight', cursive;
  font-size: 4em;
  color: rgb(65, 0, 110);
  margin-top: 30px;
}

.nav-bar {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0;
}


.nav-items {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;

}

.nav-items li {
  padding-right: 70px;
  text-align: center;
}

a {
  text-decoration: none;
}

.rental-items {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 40px;
  line-height: 45px

}

.rental-items li{
  padding-right: 80px;
}

.button {
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid #0045cb;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #0045cb;
    color: white;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  margin-right: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
